.card {
  cursor: pointer;
  /*background-color: var(--mantine-color-gray-1);*/
  &:hover {
    /*background-color: var(--mantine-color-gray-0);*/
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-lg);
  border-top: 1px solid var(--mantine-color-gray-3);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  line-height: 1;
}
