.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  tr th {
    border-bottom: rem(1px) solid var(--mantine-color-gray-1);
  }
}

.gallery {
  border-radius: 6px;
  border: rem(1px) solid var(--mantine-color-dark-5);
}
