.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;

  tr th {
    border-bottom: rem(1px) solid var(--mantine-color-gray-1);
  }
}

.gallery {
  overflow: hidden;
  border: rem(1px) solid var(--mantine-color-gray-3);
}

.tournament {
  overflow: hidden;
  border: rem(1px) solid var(--mantine-color-gray-3);
}
.tournamentInner {
  border-radius: rem(6px);
  overflow: hidden;
}

.winners {
  background: var(--mantine-color-yellow-0);
  border: rem(3px) solid var(--mantine-color-yellow-3);
}
